<div class="main_bg">
  <form id="car_form" autocomplete="off">
    <div class="centered_holder">

      <div class="logo_holder">
        <img class="logo" src="/logo.png">
      </div>

      <p style="width: 100%; text-align: center">
        Introduzca el carro que busca, luego precione siguiente
      </p>

      <select id="year" required class="form_dropdown" id="year" title="year">
        <option value="" disabled selected>Año</option>
        <% time_set = Time.now.year + 2 %>
        <% ((time_set - 7)...time_set).reverse_each do |year| %>
          <option value="<%= year %>"><%= year %></option>
        <% end %>
      </select>

      <select required id="maker" name="maker" class="form_dropdown" title="maker">
        <option value="" disabled selected>Fabricante</option>
      </select>

      <select disabled required id="model" name="model" class="form_dropdown disabled" title="model">
        <option value="" disabled selected>Modelo</option>
      </select>

      <input class="btn-success" type="submit" value="Siguiente" style="border-radius: 20px">

    </div>


  </form>

  <div class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Permítanos contactarle con esos resultados</h1>

    <form id="user_info">
      <div class="row" style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap">
        <div style="width: 42.5%; margin: 10px 2.5% 0 5%;">
          <input id="name" required style="width: 100%" type="text" class="form-control" placeholder="Nombres">
        </div>
        <div style="width: 42.5%; margin: 10px 5% 0 2.5%;">
          <input id="surname" required style="width: 100%" type="text" class="form-control" placeholder="Apellidos">
        </div>

        <div style="width: 100%; margin: 10px 5% 0;">
          <input id="phone" required style="width: 100%" type="text" class="form-control" placeholder="Número de telefono">
        </div>

        <div style="width: 100%; margin: 10px 5% 0;">
          <input id="email" required style="width: 100%" type="email" class="form-control" placeholder="Email">
        </div>

      </div>
      <br>
      <button data-remodal-action="cancel" class="remodal-cancel">CANCELAR</button>
      <button type="submit" class="remodal-confirm">ENVIAR</button>
    </form>

  </div>

  <a id="modal_button" data-remodal-target="modal" style="display: none">Call the modal with data-remodal-id="modal"</a>

  <script>
      function add_counter(element) {
          let counter = document.createElement('DIV');
          counter.style.position = 'absolute';
          counter.style.top = element.getBoundingClientRect().top + 'px';
          counter.style.left = ($(element).position().left + element.offsetWidth + 10) + 'px';
          counter.style.width = '90px';
          counter.style.height = '100px';
          counter.style.background = '#28a745';
          counter.style.borderBottomRightRadius = '20px';
          counter.style.borderTopRightRadius = '20px';
          counter.style.textAlign = 'center';
          counter.style.color = 'white';
          counter.innerHTML = '<span id="digit" style="font-size: 30pt">0</span><br><span style="font-size: x-small;">Models in year</span>';

          element.parentNode.appendChild(counter);
      }

      add_counter(document.getElementById('model'));

      $('#car_form').submit(function (e) {
          e.preventDefault();
          $('#modal_button').trigger("click");

      });

      $('#user_info').submit(function (e) {
          e.preventDefault();

          $.ajax({
              url: '/send_car_data',
              method: 'post',
              dataType: 'json',
              data: {
                  name: document.getElementById('name').value,
                  surname: document.getElementById('surname').value,
                  phone_number: document.getElementById('phone').value,
                  email: document.getElementById('email').value,
                  year: $('#year').find(":selected").text(),
                  maker: $('#maker').find(":selected").text(),
                  model: $('#model').find(":selected").text()
              },
              success: function (data) {
                  document.location.href = '/?state=success'
              },
              error: function (data) {
                  document.location.href = '/?state=error'
              }
          });

      });

      let maker = '';
      let year = '';

      $('#year').on('change', function () {
          enable_model_field();
      });

      $('#maker').on('change', function () {
          enable_model_field();
      });

      function set_makers() {
          $.ajax({
              url: '/get_makers',
              method: 'GET',
              dataType: 'json',
              data: {},
              success: function (data) {
                  let html_text = '<option value="" disabled selected>Fabricante</option>';
                  for (let i = 0; i < data.length; i++) {
                      html_text += '<option value="">' + data[i] + '</option>';
                  }
                  document.getElementById("maker").innerHTML = html_text;
              }
          });
          return 'Request made'
      }

      function enable_model_field() {
          year = $('#year').find(":selected").text();
          maker = $('#maker').find(":selected").text();
          if (year.length > 0 && maker.length > 0) {
              let model = $('#model')[0];
              model.classList.remove('disabled');
              model.disabled = false;
              model.value = '';
              set_model(maker, year);
              return true;
          } else {
              let model = $('#model')[0];
              model.disabled = true;
              model.classList.add('disabled');
              return false;
          }
      }

      function set_model(maker, year) {
          $.ajax({
              url: '/get_model?maker=' + maker + '&year=' + year,
              method: 'GET',
              dataType: 'json',
              success: function (data) {
                  let html_text = '<option value="" disabled selected>Modelo</option>';

                  for (let i = 0; i < data.length; i++) {
                      html_text += '<option value="">' + data[i] + '</option>';
                  }

                  document.getElementById("model").innerHTML = html_text;
                  document.getElementById('digit').innerText = data.length;
              }
          });
      }

      set_makers();
  </script>

</div>